# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/

# YOLO model weights
*.pt

# Ignore specific test images
download 3.jpg
download 5.jpg

# Output files
detected_output.jpg
advanced_detected_output.jpg

# VS Code
.vscode/
